@media (max-width: 768px){

	header {
		flex-direction: column;
	}

	.navheader { 
		display: block;
		width: 100vw;
	}
	.navheader > ul  {
		flex-direction: column;
	}
	.navheader > ul >li {
		flex-basis: 100%;
		width: 90vw;
		text-align: center;
		flex-grow: 1;
	}
	#contact {
		flex-direction: column;
		width: 95vw;
	}
}

body::-webkit-scrollbar{

width: 10px;

}

body::-webkit-scrollbar-button{

display: none;
background-color: white;

}

body::-webkit-scrollbar-track{

background-color: white;

}

body::-webkit-scrollbar-thumb{

background-color: #005000;

}
/*header*/


* {
	margin: 0;
	padding: 0;
	font-family: "Century Gothic";
	transition: 200ms ease-in-out all;
}

h1,h2,h3,h4,h5,h6 {
	color: #151B25;
}


a {
	text-decoration: none;
}

body {
	width: 100%;
	background-color: #dbe8e1;
}

header {
	display: flex;
	align-items: center;
	border-bottom: 2px solid lightgray;
}

header > * {
	flex-grow: 0;
	flex-shrink: 0;
}




/*about parallax*/

.history, .content1, .content2 
{
  position: relative;
  display: flex;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.history 
{
  background-image: url('../images/b1.jpg');
  min-height: 1250px;
  width: 100%;
}

.content1 
{
background-image: url('../images/b2.jpg');
  min-height: 650px;
  width: 100%;
}

.content2 
{
background-image: url('../images/b3.jpg');
  min-height: 400px;
  width: 100%;
}

.captions 
{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
}

.bordermain, .subborder
{
	background-color: white;
	 color:black;
	 padding:20px 20px;
	 font-size: 25px;
}

.mainhistory, .maincontent
{
	color:black;
	background-color:lightgray ;
	/*border: 3px solid #005000;*/
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}

.semititle
{
	text-align:center; 
	color: black;
}

.desc
{
position: relative;
}

.captions span.border 
{
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
/*end of parallax*/


/*FOOTER*/
.copyrightcenter
{
	text-align: center;
}
footer 
{

	padding: 20px;
	color: white;
	width: 100%;
	height: 0px;
	float: center;
	position: fixed;
	bottom: 0px;
}

footer .gotohead 
{
	background-color: white;
	padding:10px;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
	font-weight: bold;
	color: #005000;
	transform: rotate(-90deg);
	opacity: .7;
	cursor: pointer;
	border: 3px solid #005000;
	box-shadow: -4px 2px 5px gray;
}

footer .footerbottom 
{
	height: 0px;
	position: fixed;
	bottom: 70px;
	right: 20px;
}

footer  .gotohead:hover 
{
	opacity: 1;
}